.listContainer {
    gap: 20px;
    align-items: flex-start;
    padding-bottom: 150px;
}
.listItem {
    min-height: 100%;
    background-color: #ebecf0;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: clip;
    min-width: 300px;
    max-width: 300px;
    position: relative;
    max-height: 80vh;
}
.listItem.DRAGGING {
    border-style: dashed;
    border-color: #e21515;
}
.listItem.DRAGGING .fetchedList .scroll{
    /* visibility:hidden; */
}
.listItem .fetchedList .name {
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
}
.addListSection{
    cursor: pointer;
}
.crossButton {
    transform: rotate(45deg);
    font-size: 30px;
    vertical-align: top;
    cursor: pointer;
}
.addCard{
    background: #e3e3e3;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.addCard:hover{
    background: #ccc;
}
.scroll{
    overflow-y: auto;
    max-height: 50vh;
}
.cardIsChosen{
    /* background: yellow; */
}
