.select {
    max-width: 250px;
    margin-left: auto;
    margin-right: 5em;
}
.tableHeader{
    background: #fff;
    font-weight: bolder;
    margin-bottom: 5px;
    padding:10px
}
.tableHeader .headerItem:first-child {
    width: 5%
}
.headerItem {
    width:16%
}
.actionMenu{
    background-color: #fff;
}