.list{
    padding: 7px;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    gap: 16px;
    align-items: center;
    background: #ffffff;
    justify-content: space-between;
}
.list .icon{
    display: flex;
    /* margin-left :auto; */
}
.list .icon i{
    padding: 5px;
    align-items: center;
}
.list .icon .red{
    color:#EF5350
}
.list .icon .primary {
    color: #9E9E9E
}
.list .icon .green {
    color: #689F38
}
.list .users {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    min-width: 150px;
}
.list .users .user {
    display: inline-block;
    background: #2196F3;
    min-width: 30px;
    text-transform: uppercase;
    margin: 2px;
    color: #fff;
    padding-left: 0;
    border-radius: 100%;
    min-height: 30px;
    text-align: center;
}