.menuContainer{
    position: absolute;
    left: 250px;
    background: #ffffff;
    border-radius: 5px;
    min-width: 300px;
    min-height: 100px;
    top: 0;
    z-index: 999999999;
    box-shadow: 0px 0px 6px 0px;
    color: #7a7a7a;
}
.menuItem{
    padding: 10px;
    color:#000; 
}
.menuItem:hover{
    background-color: #959494;
    cursor: pointer;
}