@import "react-datepicker/dist/react-datepicker.css";
.cardItem{
    background: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-bottom: 5px;
}
.cardItem.cardIsChosen {
   border:2px solid #000
}
.checkBox input{
    border:1px solid #7c7979
}
.cardMenu{
    padding: 0px;
    margin: 0;
    list-style: none;
}
.cardMenu li{
    position: relative;
    background: #ccc;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 8px;
}
.tags .tagItem{
    border-radius: 20px;
    padding: 2px 9px;
    margin: 4px;
    font-size: 12px;
    align-items: center;
    display: inline-flex;
    width: auto;
}
.checkListItem{
    background: #fff;
    padding: 10px;
    border: 1px solid #797979;
    border-radius: 5px;
    margin-bottom: 5px;
}
.cardDetails {
    font-size: 14px;
}
.menuIcon {
    margin-left: auto;
}