body.authentication {
  background-color: #64B5F6;
  /* background-image: url("../assets/img/back.jpg"); */
  font-family: Helvetica;
}
body{
  font-family: Helvetica;
}
.appAlert {
  position: absolute;
    top: 5%;
    left: 35%;
    right: 35%;
    z-index: 999;
}
.dashboard{
  background-color: #ccd5fb;
  user-select: none;
    /* Prevent text selection */
    -webkit-user-drag: none;
    /* Prevent image drag on Safari */
    cursor: grab;
}
/* GLOBAL CSS STARTS*/
.align-center{
  align-items: center;
}
.align-content-center{
  align-content: center;
}
.cursor-pointer{
  cursor: pointer;
}
/* GLOBAL CSS ENDS  */