html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* prevent body from scrolling */
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body.authentication {
  background-color: #64B5F6;
  background-image: url("../assets/img/back.jpg");
  font-family: Helvetica;
  overflow-x: hidden;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body.dashboard{
  background-color: #fff;
  font-family: Helvetica;
  font-size: 14px;
  height: 100vh;
}
.appAlert {
  position: absolute;
    top: 5%;
    left: 35%;
    right: 35%;
    z-index: 999;
}
.dashboard{
  background-color: #d0d2db;
  user-select: none;
  height: 100vh;
  -webkit-user-drag: none;
}
/* GLOBAL CSS STARTS*/
.align-center{
  align-items: center;
}
.align-content-center{
  align-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-flex-start
{
  justify-content: flex-start;
}
.cursor-pointer{
  cursor: pointer;
}
.width-100{
  width:100%
}
.width-80 {
  width: 80%
}
.width-20 {
  width: 20%
}
.margin-left-auto{
  margin-left:auto;
}
.font-12{
  font-size: 14px;
}
.mr-auto {
  margin-right: auto;
}
.height-100{
  height: 100vh;
}
.padding-bottom-50-percent{
  padding-bottom: 50%;
}
.user{
    display: inline-block;
    background: #2196F3;
    min-width: 30px;
    text-transform: uppercase;
    margin: 2px;
    color: #fff;
    padding-left: 0;
    border-radius: 100%;
    min-height: 30px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
.btn-primary.button-primary {
  background-color: #1E3A8A;
  color:#fff;
  border-radius: 0;
  min-height: 40px;
  border:0px
}
.btn-primary.button-primary:hover{
  background-color: #2547a3;
}
.form-control.custom-form,.custom-form,.custom-form:focus{
  border-radius: 0;
  min-height: 40px;
  box-shadow: none;
}
.custom-select{
  box-shadow: none;
}
/* GLOBAL CSS ENDS  */

/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  .tableHeader.d-none-medium {
      display: none !important
    }
    .list{
      flex-direction: column;
      align-items: flex-start !important;
      margin-top: 10px;
    }
    .list .listItems{
      width: 100% !important;
      margin: 3px !important;
    }
    .droppableIDS {
      flex-direction: column !important;
    }
    .listItem
    {
      min-width: 0 !important;
    }
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) {
 
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    background: lightcoral;
  }
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) {
  body {
    background: lightgray;
  }
}